<!DOCTYPE html>
<html ng-app="parisApp">
    <head>
        <title>Paris App</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <link rel="stylesheet" type="text/css" href="/routing/style.css">
    </head>
    <body ng-controller="indexController as idxCtrl" ng-init="idxCtrl.start()">
        <nav>
            <img ng-src="/images/eiffel2.png" style="width:1.6%;">
            <li><a style="color:black; font-size: 145%">Hello {{$root.username}} </a></li>
            <li><a href="#!/">Home</a></li>
            <li><a href="#!/poi">POIs</a></li>
            <li><a href="#!/about">About</a></li>
            <li><a ng-if="!$root.isLogin" href="#!/login">Login</a></li>
            <li><a ng-if="$root.isLogin" ng-click="idxCtrl.logout()" href="#/">Logout</a></li>
            <img ng-src="/images/croissant2.png" style="width:3.5%;">
        </nav>
        
    <div  ng-view></div>

        <!--load angularjs-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        
        <!--JQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script> 

        <!--load app-->
        <script src="app.js"></script>

        <!--load controllers-->
        <script src="indexController.js"></script>
        <script src="Modules/About/aboutController.js"></script>
        <script src="Modules/Favorites/favoritesController.js"></script>
        <script src="Modules/Login/loginController.js"></script>
        <script src="Modules/POI/poiController.js"></script>
        <script src="Modules/Register/registerController.js"></script>
        <script src="Modules/Welcome/welcomeController.js"></script>

        <script src="httpReqService.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.js"></script>
    </body>
</html>