<!DOCTYPE html>
<html ng-app="parisApp">
    <head>
        <title>Paris App</title>
        <link rel="stylesheet" type="text/css" href="/routing/style.css">
    </head>
    <body ng-controller="indexController as idxCtrl">
        <nav>
            <li><a style="color: black">Hello {{$root.username}} </a></li>
            <li><a href="#!/">Home</a></li>
            <li><a href="#!/poi">POIs</a></li>
            <li><a href="#!/about">About</a></li>
            <li><a ng-if="!$root.isLogin" href="#!/login">Login</a></li>
            <li><a ng-if="$root.isLogin" ng-click="idxCtrl.logout()" href="#/">Logout</a></li>
        </nav>

    <div  ng-view></div>

        <!--load angularjs-->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script> 

        <!--load app-->
        <script src="app.js"></script>

        <!--load controllers-->
        <script src="indexController.js"></script>
        <script src="Modules/About/aboutController.js"></script>
        <script src="Modules/Favorites/favoritesController.js"></script>
        <script src="Modules/Login/loginController.js"></script>
        <script src="Modules/POI/poiController.js"></script>
        <script src="Modules/AllPOIs/allPoisController.js"></script>
        <script src="Modules/Register/registerController.js"></script>
        <script src="Modules/Welcome/welcomeController.js"></script>

        <script src="httpReqService.js"></script>
        <script src="userAuthServices.js"></script>
        <script src="sessionStorageService.js"></script>

    </body>
</html>