  /* --------------------------Menu-------------------------- */
  nav{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 6%;
    background-color:rgba(36, 67, 112, 0.911);
	text-align: center;
}

li{
	position: relative;
	top:30%;
	display:inline;
	padding: 6%;
}

a{
	color: white;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 130%;
	text-decoration: none;
}

a:hover{
	text-decoration: transparent;
	color: 	rgba(197, 86, 86, 0.945);
}

  /* --------------------------images-------------------------- */
.row {
	display: flex;
}

.column {
  flex: 33.3%;
	padding: 5px;
}

/* --------------------------Welcome-------------------------- */
#welcome{
	margin-top: 6%;
}

#welcome h1{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #972424;
}

#welcome p{
	/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
	font-size: 100%;
}

#randomPois{
	margin-top: 10%;
}

/* Welcome Buttons */
#welcomeBtn{
/* position: absolute; */
background-color: rgba(17, 17, 17, 0.952);
color: white;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 18px;
width: 7%;
height: 5%;
border-radius: 12px;
cursor: pointer;
/* left: 5%; */
}
#welcomeBtn:hover{
	color:#d66565
}

  /* --------------------------Login-------------------------- */
form#loginForm{
	height: 100%;
}
.logContainer {
/* position: relative; */
width: 100%;
height: 100%;
padding-left: 42%;
}
.logContainer label {
font-size: 120%;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: block;
}
.logContainer input[type='text'], input[type='password'] {
	font-size: 16px;
}

.logContainer input#loginUsername {
text-align: left;
width: 27%;
padding: 8px 20px;
border: black solid 1px;
}
.logContainer input#loginPsw {
text-align: left;
width: 27%;
padding: 8px 20px;
border: black solid 1px;
}
#login h2{
	margin-top: 5%;
	color: #b85e5e;
	text-align: center;
	font-size: 200%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
/* image in Login window */
.imgContainer {
text-align: center;
margin: 24px 0 12px 0;
}  
img.loginImg {
width: 6%;
border-radius: 8%;
}
.submitLogBtn {
position: absolute;
background-color: rgba(17, 17, 17, 0.952);
color: white;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 18px;
width: 10%;
height: 5%;
border-radius: 12px;
cursor: pointer;
left: 45%;
/* top: 60%; */
}
.submitLogBtn:hover {
	transform: scale(1.05);
}
/* restore password */
.restorePswBtn{
position: absolute;
background-color: rgba(17, 17, 17, 0.952);
color: white;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 14px;
width: 25%;
height: 20%;
border-radius: 17px;
cursor: pointer;
}
/* --------------------------about-------------------------- */
#about{
	margin-top: 5%;
}

#about h1{
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: #972424;
}

/* --------------------------Register-------------------------- */

#register{
	margin-top: 7%;
}

#register h1{
	/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
	/* color: #972424; */
	color: black;
}

form#register_form p { 
	padding:2px;
	color: rgb(0, 0, 0);
}
#wrap { 
	width:46%;
	padding:17px; 
	margin:15px auto;
	background: #0a0a0a;
}
div#wrap2 {
  border: 1px solid rgb(150, 147, 147);
	background: rgba(186, 190, 194, 0.774);
}

form#register_form label { 
	display: inline-block; /* with block na */
	width: 200px;
	margin-left: 9%;
	/* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
	font-family: sans-serif;
	font-size: 125%;
}

form#register_form input[type='text'], input[type='password'] {
	display:inline-block; /* with block na */
	width:235px;
	border:2px solid #ccc;
	margin:0;
	padding:5px 9px;
}

/* submit button of registration */
.submitBtn {
background-color: rgba(17, 17, 17, 0.952);
color: white;
text-align: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 14px;
width: 15%;
height: 30%;
border-radius: 15px;
cursor: pointer;
}

.submitBtn:hover {
opacity: 1;
transform: scale(1.05);
}
