<link rel="stylesheet" type="text/css" href="/routing/style.css">
<div id="login">
    <center><h2>Login</h2></center>
        <form id=loginForm>                    
            <div class="imgContainer">
                <img ng-src="/images/login3.png" alt="Login" class="loginImg">
            </div>
            <br>
            <div class="logContainer">
                <left>
                    <label for="username"><b>Username: </b></label>
                    <input type="text" id="loginUsername" ng-model="logCtrl.currUser.Username" placeholder="Enter Username" name="username" > 
                    <br>
                    <br>
                    <label for="psw"><b>Password: </b></label>
                    <input type="password" id="loginPsw" ng-model="logCtrl.currUser.Password" placeholder="Enter Password" name="psw" >
                    <br>
                    <button type="submit" class="submitLogBtn" ng-click="logCtrl.loginValidation()">Login</button>
                </left>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div id="restorePsw">
                <center>
                        <button type="submit" class="restorePswBtn" ng-click="logCtrl.restorePassword()">Restore Password</button>
                        <br>
                        <br>
                        <label for="Question"><b>Security Question: </b></label>
                        <!-- <label ng-model="logCtrl.getUserQuestion()"><b>{{user.SecurityQ}}</b></label> -->
                        <br>
                        <label for="Answer"><b>Answer: </b></label>
                    <input type="text" id="securityA" ng-model="logCtrl.user.SecurityA" placeholder="Enter Username" name="username" > 
                    <br>
                </center>
            </div>
            <div id="register">
                <center>
                    <br>
                        <button type="submit" class="registerLoginBtn" ng-click="logCtrl.register()">Register</button>    
                </center>
            </div>
        </form>
</div>