<div id="login">
    <center><h2>Sign In</h2></center>
        <form id=loginForm>                    
            <div class="imgContainer">
                <img ng-src="/images/login3.png" alt="Login" class="loginImg">
            </div>
                        <div id="registerInLogin">
                <center>
                    <br>
                        <a href="#!/register" style="color:rgb(2, 24, 70); font-size: 16px">Not a member? <u>sign up now!</u></a>
                </center>
            </div>
            <br>
            <div class="logContainer">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                        <input type="text" id="loginUsername" class="form-control" ng-model="logCtrl.currUser.Username" placeholder="Enter Username" name="username" required> 
                    </div>
                    <br>
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                        <input type="password" class="form-control" id="loginPsw" ng-model="logCtrl.currUser.Password" placeholder="Enter Password" name="psw" >
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="submitLogBtn" ng-click="logCtrl.login()">Login</button>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div id="restorePsw">
                <center>
                    <a ng-click="logCtrl.getUserQuestion()" data-toggle="modal" data-target="#restoreModal" style="color:rgb(2, 24, 70); font-size: 14px; cursor: pointer;"><u>Forgot your password?</u></a>
                </center>
            </div>
        </form>

        <!-- restorePswModal -->
        <div ng-if="logCtrl.usernameEntered" class="container">
                <div class="modal fade" id="restoreModal" role="dialog">
                  <div class="modal-dialog">                  
                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <center><h4 class="modal-title">Restore your password</h4></center>
                      </div>
                      <div class="modal-body">
                          <h5 ng-show="!logCtrl.usernameValid"> Please enter valid username</h5>
                        <form ng-if="logCtrl.usernameValid" name="restoreForm">
                            <label for="Question"><b>Security Question:</b> {{logCtrl.currUser.SecurityQ}}</label>
                            <br>
                            <label for="Answer"><b>Answer:</b></label>
                            <input name="answer" type="text" id="securityA" ng-model="logCtrl.currUser.SecurityA" placeholder="Enter your answer" required ng-minlength="1" >
                            <br>
                            <br>
                            <center><button type="submit" class="restorePswBtn" ng-click="logCtrl.restorePassword()">Restore Password</button></center>
                            <br>               
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                  </div>
                </div>        
        </div>
</div>