<div ng-init = "favCtrl.start()">
    <div>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <center>
            <b>Sort By:</b>
            <select ng-model="favCtrl.sortType" ng-options="item for item in sortTypes" ng-change="favCtrl.setSortType()"></select>
            <br>
            <br>
            <b>Filter By:</b>
            <label ng-repeat="cat in favCtrl.categories">
                <input type="checkbox" ng-click="favCtrl.chooseCategories(cat.ID,$event)" ng-checked="favCtrl.categories.indexOf(cat.ID)"> {{cat.Name}}
            </label>
        </center>
        <br></br>
        <br></br>
        <div ng-if="favCtrl.sortBy == 'Rank'" ng-repeat="poi in favCtrl.filteredPOIs | orderBy: favCtrl.sortBy : true">
                <div>
                        <center><h2 data-toggle="modal" data-target="#poiModal" ng-click="favCtrl.getPoiInfo(poi.ID)" style="cursor: pointer;">{{poi.Name}}</h2></center>
                        <center><h2 ng-if="favCtrl.sortType == 'Rank'">{{poi.Rank}}%</h2></center>
                        <center><img ng-src="{{poi.Picture}}" style="width:50%" data-toggle="modal" data-target="#poiModal" ng-click="favCtrl.getPoiInfo(poi.ID)"></center>  
                        <!-- <center><span ng-if="favCtrl.chosenCategories.length == 4" ng-click="moveUp($index)" class="glyphicon glyphicon-arrow-up"></span></center>
                        <center><span ng-if="favCtrl.chosenCategories.length == 4" ng-click="moveDown($index)" class="glyphicon glyphicon-arrow-down"></span></center> -->
                        <center><button ng-click="favCtrl.removeFromFavorites(poi.ID);">Remove From Favorites</button></center>
                        <br>
                        <br>
                        <!-- <center><select >
                            <option value="default">Select item's priority</option>
                            <option ng-repeat="priority in favCtrl.priorities" value="priority">{{priority}}</option>
                          </select></center> -->
                          
                </div>
         

            </div>


            <div ng-if="favCtrl.sortBy == 'Default'" ng-repeat="poi in favCtrl.filteredPOIs">
                    <div>
                            <center><h2 data-toggle="modal" data-target="#poiModal" ng-click="favCtrl.getPoiInfo(poi.ID)" style="cursor: pointer;">{{poi.Name}}</h2></center>
                            <center><h2 ng-if="favCtrl.sortType == 'Rank'">{{poi.Rank}}%</h2></center>
                            <center><img ng-src="{{poi.Picture}}" style="width:50%" data-toggle="modal" data-target="#poiModal" ng-click="favCtrl.getPoiInfo(poi.ID)"></center>  
                            <center><span ng-if="favCtrl.chosenCategories.length == 4" ng-click="moveUp($index)" class="glyphicon glyphicon-arrow-up"></span></center>
                            <center><span ng-if="favCtrl.chosenCategories.length == 4" ng-click="moveDown($index)" class="glyphicon glyphicon-arrow-down"></span></center>
                            <center><button ng-click="favCtrl.removeFromFavorites(poi.ID);">Remove From Favorites</button></center>
                            <br>
                            <br>
                            <!-- <center><select >
                                <option value="default">Select item's priority</option>
                                <option ng-repeat="priority in favCtrl.priorities" value="priority">{{priority}}</option>
                              </select></center> -->
                              
                    </div>
             
    
                </div>

            <center><button ng-if="favCtrl.chosenCategories.length == 4" ng-click="favCtrl.saveChanges()">Save Changes</button></center>

    </div>



</div>




<div class="container">
        <!-- Modal -->
        <div class="modal fade" id="poiModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <center><h4 class="modal-title">POI's Information</h4></center>
              </div>
              <div class="modal-body">
                <p style="font-size:16px"><b>{{favCtrl.name}}</b></p>
                <p> <img ng-src="{{favCtrl.picture}}" style="width:40%"> </p>
                <p><b> Description: </b> {{favCtrl.description}} </p>
                <p><b> Number of watchings: </b> {{favCtrl.usersWatching}} </p>
                <p><b> Rank: </b> {{favCtrl.rank}}% </p>
                <p><b> Review 1: </b> {{favCtrl.review1}} </p>
                <p><b> Review 2: </b> {{favCtrl.review2}} </p>                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>        
</div>
